{% comment %}
**registration/activate.html**

Used if account activation fails. With the default setup, has the following context:

``activation_key``
    The activation key used during the activation attempt.
{% endcomment %}{% extends "registration/base.html" %}
{% load i18n %}

{% block registration %}
  <h1>{% trans "Activation failed" %}</h1>
  <p>{% trans "Something went wrong while activating your account. This might mean that the activation code was wrong or that your account has already been activated." %}</p>
{% endblock %}
