{% comment %}
**registration/activate.html**

Used if account activation fails. With the default setup, has the following context:

``account``
    Whether or not the activation has been succesfull and perhaps also some
    information about the actual account.
{% endcomment %}
{% extends "registration/base.html" %}
{% load i18n %}

{% block content %}
{% if account %}
    <h1>Activation succesfull</h1>
    <p>You can now <a href="{% url auth_login %}">login.</a></p>
{% else %}
    <h1 id="activation_failed">Activation failed</h1>
{% endif %}
{% endblock %}
